{% extends 'auth/auth-base.html'%}
{% import 'bootstrap/form.html' as wtf%}

{% block content %}
<title>Baseline: Register</title>
<div class="container">
  <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6 card text-dark" style="margin-top: 10px;margin-bottom: 50px; padding: 20px;">
      <h1 class="text-center">Sign Up</h1>
      <hr>
      {{ wtf.render_form(registration_form) }}
      <hr>
      <p> Already have an account?  <a href="{{url_for('auth.login')}}">login here</a></p>
    </div>
    <div class="col-md-3"> </div>
  </div>
{% endblock%}