{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<style>
@media (max-width: 650px) {
  .top-link{
    font-size: small;
  }

}
</style>
{% endblock %}
<!-- Content block -->
{% block content %}
<title>Home - Baseline Movies</title>
<div class="alert alert-light text-left text-dark border rounded-0 shadow" style="margin: 5px;" role="alert"><span>
  <form method="get" action="" class="form-inline">
    <input style="width: 90%;" type="search" placeholder="Search movies" class="form-control" name="movie_query"><button type="submit" class="btn btn-primary ml-auto" style="width: 10%;">Go!</button>
  </form>
  </span></div>
<div class="container">
</div>
<section data-bs-parallax-bg="true" style="background-image: url(https://wallpaperstream.com/wallpapers/full/black-panther/Black-Panther-HD-Artwork.jpg); background-position: center;background-size: cover;">
  <div class="jumbotron shadow tops" style="height: auto;background-color: transparent;">
      <h1 class="display-4 text-center text-light">#Top3 In Theaters</h1>
      <div class="row">
        {{ macro.displayTop3MovieList(top_rated)}}
      </div>
  </div>
</section>
<div style="padding: 20px;">
    <h1 class="text-center" style="width: 100%; background-color: #a3057f; border-radius: 0; color: white;"></h1>
    <div class="row">
       {{ macro.displayMovieList(now_showing)}}
    </div>
</div>
    <section data-bs-parallax-bg="true" style="background-image: url(https://wallpaperstream.com/wallpapers/full/black-panther/Black-Panther-Dark-Wallpaper.jpg);background-position: center;background-size: cover; background-position: fixed;">
      <div class="jumbotron shadow" style="height: auto;background-color: transparent;">
          <h1 class="display-4 text-center text-light">#Top3 Upcoming Movies</h1>
          <div class="row">
            {{ macro.displayTop3MovieList(upcoming)}}
          </div>
      </div>
    </section>
  <div style="padding: 20px;">
    <div class="row">
        {{ macro.displayMovieList(upcoming)}}
     </div>
  </div>
  <section data-bs-parallax-bg="true" style="background-image: url(https://wallpaperstream.com/wallpapers/full/black-panther/Black-Panther-Artwork-HD.jpg);background-position: center;background-size: cover; background-position: fixed;">
    <div class="jumbotron shadow" style="height: auto;background-color: transparent;">
        <h1 class="display-4 text-center text-light">#Top3 Popular Movies</h1>
        <div class="row">
          {{ macro.displayTop3MovieList(popular)}}
        </div>
    </div>
  </section>
  <div style="padding: 20px;">
    <div class="row">
        {{ macro.displayMovieList(popular)}}
     </div>
  </div>
{% endblock%}