<!-- Displaying movie list macro  -->
{% macro displayMovieList(movie_list) %}
    {% for movie in movie_list[3:19] %}
            <div class="col-md-3 col-sm-6 col-xl-3 col-lg-3 col-xs-12 " style="padding: 5px;">
                <div class="card"><img class="card-img w-100 d-block" src="{{movie.poster}}">
                    <div class="card-img-overlay">
                        <a class="movie-title" href="/movie/{{movie.id}}">{{ movie.title|truncate(20)}}</a>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endmacro %}

{% macro displayTop3MovieList(movie_list) %}
    {% for movie in movie_list[0:3] %}
            <div class="col-md-4 col-md-4 col-lg-4 col-xl-4 col-sm-4 col-xs-4">
                <div class="card shadow" style="padding: 5px; background-color: transparent;" data-bs-parallax-bg="true"><img class="card-img w-100 d-block" src="{{movie.poster}}">
                    <div class="card-img-overlay">
                        <a class="movie-title" href="/movie/{{movie.id}}">{{ movie.title|truncate(20)}}</a>
                    </div>
                </div>
            </div>
            
    {% endfor %}
{% endmacro %}

<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}

    {% for review in review_list %}
    <div class="card review">
        <div class="card-body">
            <h4 class="card-title">{{review.movie_title}}</h4>
            <h6 class="text-muted card-subtitle mb-2">By user id {{review.user_id}}</h6>
            <p class="card-text">{{review.movie_review}}</p>
        </div>
    </div>
    {% endfor %}

{% endmacro %}